.month {
    display: block;
    height: 100%;

    &__container {
        display: grid;
        height: 100%;
        grid-template-columns: repeat(7, minmax(0, 1fr));
        gap: 4px;
    }

    &__day {
        text-align: center;

        &--different-month {
            opacity: 0.75;
        }

        @for $i from 1 through 7 {
            &--row-#{$i} {
                grid-row: $i;
            }

            &--column-#{$i} {
                grid-column: #{$i}/#{$i}
            }
        }
    }

    &__event {
        align-self: center
    }
}
